<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countru Result</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/AllCountries">All Countries</a>
                </li>
                <li>
                    <a href="/MyRecords">My Records</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <section>
            <% data.forEach(element => {%>
                <div>
                    <h2>Country:
                        <%= element.Country %>
                    </h2>
                    <h2>Total Confirmed cases:
                        <%= element.TotalConfirmed %>
                    </h2>
                    <h2>Total Deaths cases:
                        <%= element.TotalDeaths %>
                    </h2>
                    <h2>Total Recovered cases:
                        <%= element.TotalRecovered %>
                    </h2>
                    <h2>Date:
                        <%= element.Date %>
                    </h2>

                    <form action="/MyRecords" method="post">
                        <input type="hidden" name="Country" value="<%= element.Country %>">
                        <input type="hidden" name="TotalConfirmed" value="<%= element.TotalConfirmed %>">
                        <input type="hidden" name="TotalDeaths" value="<%= element.TotalDeaths %>">
                        <input type="hidden" name="TotalRecovered" value="<%= element.TotalRecovered %>">
                        <input type="hidden" name="Date" value="<%= element.Date %>">
                        <button type="submit">add-to-my-records</button>
                    </form>
                </div>

                <% }); %>



        </section>


    </main>
</body>

</html>