<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countru Result</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/AllCountries">All Countries</a>
                </li>
                <li>
                    <a href="/MyRecords">My Records</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <section>
            <% data.forEach(element => {%>
                <div>
                    <h2>Country:
                        <%= element.country %>
                    </h2>
                    <h2>Total Confirmed cases:
                        <%= element.totalconfirmed %>
                    </h2>
                    <h2>Total Deaths cases:
                        <%= element.totaldeaths %>
                    </h2>
                    <h2>Total Recovered cases:
                        <%= element.totalrecovered %>
                    </h2>
                    <h2>Date:
                        <%= element.date %>
                    </h2>
                    <form action="/details/<%= element.id %>?_method=DELETE" method="post">
                        <button type="submit">Delete</button>
                    </form>


                </div>

                <% }); %>



        </section>


    </main>
</body>

</html>